[submodule "licensing-service"]
	path = licensing-service
	url = git@github.com:denglitong/licensing-service.git
[submodule "config-repo"]
	path = config-repo
	url = git@github.com:denglitong/config-repo.git
[submodule "configuration-service"]
	path = configuration-service
	url = git@github.com:denglitong/configuration-service.git
[submodule "eureka-service"]
	path = eureka-service
	url = git@github.com:denglitong/eureka-service.git
[submodule "organization-service"]
	path = organization-service
	url = git@github.com:denglitong/organization-service.git
[submodule "zuul-service"]
	path = zuul-service
	url = git@github.com:denglitong/zuul-service.git
[submodule "organization-service-new"]
	path = organization-service-new
	url = git@github.com:denglitong/organization-service-new.git
[submodule "specialroutes-service"]
	path = specialroutes-service
	url = git@github.com:denglitong/specialroutes-service.git
[submodule "samples/spmia-chapter7"]
	path = samples/spmia-chapter7
	url = https://github.com/carnellj/spmia-chapter7.git
